<h2><%= site.domain %></h2>

<% if site.response %>
<div class="row">
  <div class="col-md-4">
    <h3>Basics</h3>
    <table class="table table-striped">
      <tr>
        <th>Government</th><td class="<%= site.government? %>"><%= site.government? %></td>
      </tr>
      <tr>
        <th>Live</th><td class="<%= !!site.response %>"><%= !!site.response %></td>
      </tr>
      <tr>
        <th>SSL (HTTPS)</th><td class="<%= site.https? %>"><%= site.https? %></td>
      </tr>
      <tr>
        <th>SSL Enforced</th><td class="<%= site.enforce_https? %>"><%= site.enforce_https? %></td>
      </tr>
      <tr>
        <th>Non-www support</th><td class="<%= site.non_www? %>"><%= site.non_www? %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Network</h3>
    <table class="table table-striped">
      <tr>
        <th>IP</th><td><%= site.ip %></td>
      </tr>
      <tr>
        <th>Hostname</th><td><%= site.hostname %></td>
      </tr>
      <tr>
        <th>IPv6 Support</th><td class="<%= site.ipv6? %>"><%= site.ipv6? %></td>
      </tr>
      <tr>
        <th>DNSSEC</th><td class="<%= site.dnssec? %>"><%= site.dnssec? %></td>
      </tr>
      <tr>
        <th>CDN</th><td class="<%= site.cdn %>"><%= site.cdn %></td>
      </tr>
      <tr>
        <th>Google Apps</th><td class="<%= site.google_apps? %>"><%= site.google_apps? %></td>
      </tr>
      <tr>
        <th>Cloud Provider</th><td class="<%= site.cloud_provider %>"><%= site.cloud_provider %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Technology</h3>
    <table class="table table-striped">
      <tr>
        <th>Server</th><td><%= site.server %></td>
      </tr>
      <tr>
        <th>CMS</th>
        <td>
          <% site.cms.each do |name, meta| %>
            <strong><%= name %></strong>
            <ul>
              <% meta.each do |key, value| %>
                <li><%= key %>: <%= value %></li>
              <% end %>
            </ul>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Analytics</th>
        <td>
          <% site.analytics.each do |name, meta| %>
            <strong><%= name %></strong>
            <ul>
              <% meta.each do |key, value| %>
                <li><%= key %>: <%= value %></li>
              <% end %>
            </ul>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Javascript</th>
        <td>
          <% site.javascript.each do |name, meta| %>
            <strong><%= name %></strong>
            <ul>
              <% meta.each do |key, value| %>
                <li><%= key %>: <%= value %></li>
              <% end %>
            </ul>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Advertising</th>
        <td>
          <% site.advertising.each do |name, meta| %>
            <strong><%= name %></strong>
            <ul>
              <% meta.each do |key, value| %>
                <li><%= key %>: <%= value %></li>
              <% end %>
            </ul>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Compliance</h3>
    <table class="table table-striped">
      <tr>
        <th>/data</th><td class="<%= site.slash_data? %>"><%= site.slash_data? %></td>
      </tr>
      <tr>
        <th>/developer</th><td class="<%= site.slash_developer? %>"><%= site.slash_developer? %></td>
      </tr>
      <tr>
        <th>/data.json</th><td class="<%= site.data_dot_json? %>"><%= site.data_dot_json? %></td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Security headers</h3>
    <table class="table table-striped">
      <tr>
        <th>XSS protection</th><td class="<%= site.xss_protection? %>"><%= site.xss_protection? %></td>
      </tr>
      <% if site.has_cookies? %>
      <tr>
        <th>Secure cookies</th><td class="<%= site.secure_cookies? %>"><%= site.secure_cookies? %></td>
      </tr>
      <% end %>
      <tr>
        <th>Strict transport security (HSTS)</th><td class="<%= site.strict_transport_security? %>"><%= site.strict_transport_security? %></td>
      </tr>
      <tr>
        <th>Content security policy</th><td class="<%= site.content_security_policy? %>"><%= site.content_security_policy? %></td>
      </tr>
      <tr>
        <th>Clickjacking protection</th><td class="<%= site.click_jacking_protection? %>"><%= site.click_jacking_protection? %></td>
      </tr>
    </table>
  </div>

</div>

<% else %>
  <blink>Invalid Domain</blink>
<% end %>

<div class="have_another">
  <a href="/">Check another domain?</a>
</div>
